<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
<div class="container">
    <aside>
        <div class="bg"></div>
        <div class="bgs"></div>
        <div class="content">
            <div class="avatar"></div>
            <h1><%= title %></h1>
        </div>
    </aside>
    <div class="main">