<%- include header %>
<div class="post">
    <form method="post">
      <p>标题：<input type="text" name="title" class="text" /></p>
      <p>正文：<textarea name="post"class="text"></textarea></p>
      <p><input type="submit" value="发表" class="btn"/></p>
    </form>
</div>
<%- include footer %>