<%- include header %>
<form method="post">
    <div class="login">
          <input type="text" class="text" placeholder="Username" name="name">
          <input type="password" class="text" placeholder="password" name="password">
          <input type="password" class="text" placeholder="password-repeat" name="password-repeat">
          <input type="e-mail" class="text" placeholder="email" name="email">
        <input type="submit" value="注册" class="btn"/>
    </div>
</form>
<%- include footer  %>